.mat-form-field {
    margin-top: 20px;
    /* margin: auto; */
    display: flex;
    justify-content: center;
}

.mat-primary {
    background: #007bff;
}

.example-container .mat-form-field + .mat-form-field {
    margin-top: 20px;
    /* margin: auto; */
    display: flex;
    justify-content: center;
  
}